---
- name: Deploy nginx application on cluster
  hosts: localhost
  gather_facts: no
  tasks:

    - name: Create namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: demo-nginx
        state: present

    - name: Deploy nginx
      kubernetes.core.k8s:
        state: present
        namespace: demo-nginx
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: nginx
          spec:
            replicas: 1
            selector:
              matchLabels:
                app: nginx
            template:
              metadata:
                labels:
                  app: nginx
              spec:
                containers:
                - name: nginx
                  image: nginx:latest
                  ports:
                  - containerPort: 80

    - name: Create service
      kubernetes.core.k8s:
        state: present
        namespace: demo-nginx
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: nginx
          spec:
            type: ClusterIP
            ports:
            - port: 80
              targetPort: 80
            selector:
              app: nginx
